/* Загальний контейнер сторінки */
.pageBackground {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Центральний макет */
.container {
  width: 1136px;
  background-color: #1e1e24; 
  min-height: 1528px;
  padding: 20px;
  box-sizing: border-box;
}
/* Стиль для заголовка */
.header {
  position: absolute;
  text-align: center;
  color: white;
  top: 600px; 
  left: 24%; 
  width: 275px;
  height: 37px;
  font-size: 15px; 
  white-space: nowrap; 
}

/* Загальний контейнер сторінки */
.pageBackground {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Центральний макет */
.container {
  width: 1136px;
  background-color: #1e1e24;
  min-height: 1528px;
  padding: 20px;
  box-sizing: border-box;
}

/* Стиль для заголовка */
.header {
  position: absolute;
  text-align: center;
  color: white;
  top: 600px;
  left: 24%;
  width: 275px;
  height: 37px;
  font-size: 13px;
  white-space: nowrap;
}

.sliderWrapper {
  position: relative;
  width: 1058px;
  height: 371px;
  overflow: hidden;
  margin-top: 100px;
  margin-left: 15px; /* Відступ ліворуч на 50px */
  border-radius: 10px;
}


.sliderTrack {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.slideTitle {
  position: absolute;
  bottom: 20px;
  left: 2%;
  color: white;
  padding: 10px;
  border-radius: 5px;
}


/* Обгортка для кнопок зі стрілками */
.sliderNavigation {
  position: absolute; 
  top: 30%; 
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none; /* Щоб тільки кнопки ловили кліки */
}
/* Стрілки-контейнер */
.scrollbarArrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  pointer-events: all;
}

/* Окремі стрілки */
.scrollbarLeftArrow {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 490px; /* Відступ зліва — МОЖЕШ НАЛАШТУВАТИ */
  transition: background-color 0.3s;
}

.scrollbarRightArrow {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 500px; /* Відступ справа — МОЖЕШ НАЛАШТУВАТИ */
  transition: background-color 0.3s;
}

/* Наведення на стрілку */
.scrollbarLeftArrow:hover,
.scrollbarRightArrow:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Стилі для SVG */
.arrowImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
