/* Загальний контейнер пошуку */
.search {
  background-color: rgba(64, 62, 71, 0.93);
  padding: 7px 8px;
  border-radius: 10px;
  width: 292px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.search__field {
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--white-color);
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
}

.search__field::placeholder {
  color: #e8e8e8;
}

.search__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Підказки при пошуку */
.suggestions {
  position: absolute;
 background-color: rgba(64, 62, 71, 0.98);

  border-radius: 10px;
  margin-top: 5px;
  width: 292px;
  max-height: 800px;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Список фільмів */
.movieList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: transparent; 
}

/* Картка фільму */
.movieItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  transition: background-color 0.3s ease;
  background-color: transparent; 
}

.movieItem:hover {
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

/* Кнопка з фільмом */
.movieLink {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  text-decoration: none;
  color: #e8e8e8;
  gap: 15px; 
  padding: 10px 15px; 
  border: none;
  background-color: unset;
  width: auto; 
}

/* Зображення фільму */
.movieLink img {
  width: 60px; 
  height: 90px; 
  border-radius: 5px;
  object-fit: cover;
}

/* Назва фільму */
.movieLink h4 {
  margin: 0;
  font-size: 20px;
  line-height: 24px; 
  color: #fff;
  font-weight: 500; 
  text-align: left; 
  max-width: 200px; 
  word-wrap: break-word; 
}
